/* src/styles/globals.css */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;  /* Slightly lighter than pure black */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.MuiCardContent-root {
  padding-bottom: 16px !important;
}

.MuiButton-root {
  margin: 8px;
}

.MuiTypography-h4 {
  margin-bottom: 16px;
}

.container {
  margin-top: 40px; /* Adjust this value to increase/decrease the gap */
}

main {
  flex: 1;
  padding-top: 18px; /* Add padding only to the main content area */
}

footer {
  margin-top: auto;
}
